---
import LayoutStacked from '../../app/LayoutStacked.astro';
import VerifyYourAccount from '../../modules/VerifyYourAccount.astro';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<VerifyYourAccount />
	</div>
</LayoutStacked>
