---
import Code from 'astro/components/Code.astro';

// import Confettis from '../components/ConfettiLauncher.astro.jsx';

import AstroLogo from '../assets/astro-icon.svg?raw';
import FlowbiteLogo from '../assets/flowbite-logo.svg?raw';

import * as readMe from '../../README.md';
import { SITE_TITLE } from '../app/constants.js';

import PoolInterestsEvaluation from '../components/PoolInterestsEvaluation.astro';
---

<div
	class="bg-gradient-to-r from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100 mb-20 p-4 lg:p-16 shadow-xl shadow-slate-200 dark:shadow-slate-900"
>
	


<!-- header -->


<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
	<!-- Left Div -->
	<!-- <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0"> -->
	<div class="p-4 mb-4 xl:mb-0">
    <h2 class="text-3xl lg:text-6xl dark:text-slate-200 text-slate-600 leading-tight mb-4">
        Your <a rel="noopener nofollow" href="https://astro.build" class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline">Capital</a> With
        <br />Our <a rel="noopener nofollow" href="https://flowbite.com" class="font-bold text-blue-600 dark:text-blue-500 no-underline">Skills</a>
    </h2>
    <p class="text-xl lg:text-1xl">
        We handle your capital while you receive up to 90% of the Profit.
    </p>
</div>
	<!-- Right Div -->
	<!-- <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0"> -->
	<div class="p-4 mb-4  xl:mb-0">
			<div class="flex justify-center w-full">
				<img src="https://uncharted.network/assets/images/home-chart.png" class="w-200 h-200" alt="Uncharted Fox" />
			</div>
	</div>
</div>

<!-- end header  -->




<div class="px-4 pt-6">
	<!-- <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3"> -->

	<!-- 2 columns -->
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-10 gap-4">
		<!-- Activity Card -->
		<div 
		class="md:col-span-3 p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0"
		>
			<div class="flex items-center justify-between mb-4">
				<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
					Pool Investment Evaluation
				</h3>
				
			</div>
			<ol>
				<span class="inline-flex items-center text-base text-gray-900 dark:text-white mb-4">
				Earn daily and fast track your goals. 
				</span>
				
				<li>

					<div id="toast-simple" class="flex items-center w-full max-w-sm p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg  dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 mb-5" role="alert">
						<svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
						</svg>
						<div class="ps-4 text-sm font-normal">Up to 85% effective annual rates.</div>
				</div>
				
				<div id="toast-simple" class="flex items-center w-full max-w-sm p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg  dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 mb-5" role="alert">
						<svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
						</svg>
						<div class="ps-4 text-sm font-normal">Assets protection with limited downsides.</div>
				</div>

				<div id="toast-simple" class="flex items-center w-full max-w-sm p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg  dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 mb-5" role="alert">
					<svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
					</svg>
					<div class="ps-4 text-sm font-normal">Quarterly withdrawal options.</div>
			</div>

			<div id="toast-simple" class="flex items-center w-full max-w-sm p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg  dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 mb-5" role="alert">
				<svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
				</svg>
				<div class="ps-4 text-sm font-normal">Automatic earning compounding.</div>
		</div>

		<div id="toast-simple" class="flex items-center w-full max-w-sm p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg  dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 mb-5" role="alert">
			<svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
			</svg>
			<div class="ps-4 text-sm font-normal">Pay less fees with UFOX Token.</div>
	</div>

				
						


				</li>
				
			</ol>
		</div>
		<!-- Activity Card -->
		<div 
		class="md:col-span-7 p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0"
		>
			<div class="flex items-center justify-between mb-4">
				<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
					Interest Earned After 1 Year
				</h3>

			</div>
			<ol>


				<PoolInterestsEvaluation />

				
			</ol>
		</div>
	</div>


	<div class="grid grid-cols-1 my-4 xl:grid-cols-2 xl:gap-4">

		<div class="md:col-span-10 p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0 flex justify-center items-center">
			<button class="flex items-center px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">
				
				<svg 
				class="w-5 h-5 mr-2 -ml-1"
				fill="none"
				stroke="currentColor"
				aria-hidden="true" 
				xmlns="http://www.w3.org/2000/svg" 
				fill="none" 
				viewBox="0 0 -22 30">

				<path 
					stroke="currentColor" 
					stroke-linecap="round" 
					stroke-linejoin="round" 
					stroke-width="2" 
					d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
					/>
				</svg>

					</svg>
					Open Account
			</button>
	</div>
</div>



<!-- pool end -->
</div>

<script>
	import './DashBoardInvestors.client.js';
</script>

<style is:global>
	/* chart styles */
	.apexcharts-tooltip {
		@apply bg-white dark:bg-gray-700 text-gray-500 dark:text-gray-400 border-0 rounded-lg shadow-lg !important;
	}

	.apexcharts-tooltip .apexcharts-tooltip-title {
		@apply py-2 px-4 bg-gray-100 dark:bg-gray-600 border-b border-gray-200 dark:border-gray-500 !important;
	}

	.apexcharts-xaxistooltip {
		@apply text-gray-500 border-0 bg-white dark:bg-gray-700 dark:text-gray-300 rounded-lg shadow-lg !important;
	}

	.apexcharts-tooltip .apexcharts-tooltip-text-y-value {
		@apply dark:text-white;
	}

	.apexcharts-xaxistooltip-text {
		@apply font-medium text-sm !important;
	}

	.apexcharts-xaxistooltip:before,
	.apexcharts-xaxistooltip:after {
		@apply border-0 !important;
	}


	.no-select {
  user-select: none;
}

</style>



<!-- 
<style>
	/* Override in Markdown H1 title */
	.readme :global(h1:nth-of-type(2)) {
		display: none;
	}

	.svg-inline :global(svg) {
		height: 100%;
		width: 100%;
	}
</style> -->
