<!-- <a href="/" class="flex ml-2 md:mr-24">
	<img
		src={('https://uncharted.network/assets/logos/svg/ufox-logo-white.svg')}
		class="h-8 mr-3"
		alt="Uncharted Fox Logo"
	/>
	<span
		class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
		>Uncharted Fox</span
	>
</a> -->



<a
		href="/"
		class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white"
	>
	

<div class="bg-Pic dark:bg-Pic-dark w-8 mr-4 h-11"></div>
<span
		class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
		>Uncharted Fox</span
	>
</a>



<style is:global>


.dark .dark\:bg-Pic-dark {
  background-image: url("https://uncharted.network/assets/logos/svg/ufox-logo-white.svg");
  background-size: 100% 100%;
}

.bg-Pic {
  background-image: url("https://uncharted.network/assets/logos/svg/uFox-Logo-Dark.svg");
  background-size: 100% 100%;
}

</style>
